/*
.clock-container{
    display: flex;
    float: none;
    justify-content: center;
    align-items: center;
    height: 50px;

}
#clock{
    font-size:larger;
    background-color: #491D44;
    color: #FFFF;
    border: 4px;
    text-align: center;
    padding:5px 20px;
}*/
#clock{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    float: left;
    width: 40%;
    height: 50px;
    font-size:larger;
    background-color: #491D44;
    color: #FFFF
}