:root {
    /* generic */
    --gutterSm: 0.4rem;
    --gutterMd: 0.8rem;
    --gutterLg: 1.6rem;
    --gutterXl: 2.4rem;
    --gutterXx: 7.2rem;
    --colorPrimary400: rgba(165, 87, 194, 0.48);
    --colorPrimary600: rgba(73, 29, 68, 0.4);
    --colorPrimary800: rgba(0, 0, 0, 0.25);
    --fontSizeSm: 1.2rem;
    --fontSizeMd: 1.6rem;
    --fontSizeLg: 2.1rem;
    --fontSizeXl: 2.8rem;
    --fontSizeXx: 3.6rem;
    --lineHeightSm: 1.1;
    --lineHeightMd: 1.8;
    --transitionDuration: 300ms;
    --transitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);
    /* floated labels */
    --inputPaddingV: var(--gutterMd);
    --inputPaddingH: var(--gutterLg);
    --inputFontSize: var(--fontSizeLg);
    --inputLineHeight: var(--lineHeightMd);
    --labelScaleFactor: 0.8;
    --labelDefaultPosY: 50%;
    --labelTransformedPosY: calc( (var(--labelDefaultPosY)) -  (var(--inputPaddingV) * var(--labelScaleFactor)) -  (var(--inputFontSize) * var(--inputLineHeight)));
    --inputTransitionDuration: var(--transitionDuration);
    --inputTransitionTF: var(--transitionTF);
}

.Y-text{
    position: relative;
}

.ySelect {
    display: block;
    margin: 0 3% 0 0;
    padding: var(--inputPaddingV) var(--inputPaddingH);
    color: inherit;
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 15px;
    font-weight: inherit;
    line-height: var(--inputLineHeight);
    border: none;
    border-radius: 0.4rem;
    transition: box-shadow var(--transitionDuration);
    max-width: 200px;
}

.ySelect::placeholder {
    color: #12020D;
}

.ySelect:focus {
    outline: none;
    box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600);
}


.ySelect:placeholder-shown + .Input-label {
    visibility: hidden;
    z-index: -1;
}

.ySelect:not(:placeholder-shown) + .Input-label,
.ySelect:focus:not(:placeholder-shown) + .Input-label {
    visibility: visible;
    z-index: 1;
    opacity: 1;
    transform: translate3d(0, var(--labelTransformedPosY), 0) scale(var(--labelScaleFactor));
    transition: transform var(--inputTransitionDuration), visibility 0ms, z-index 0ms;
}