/*****
 *
 * Radio checked style related
 * the fun part starts here
 *
 */
.rSelect{
  border: none;
  margin: 2%;
}
.xSelect{
  margin: 2%;
}
input[type=radio] {
  display: none;
}

/**
 * How it should look when hove#6D466B
 */
.active-label, label:focus, label:hover, label:active, input:checked + label {
  color: #491D44;
}

.active-label:before, label:focus:before, label:hover:before, label:active:before, input:checked + label:before {
  background: #EAD7D7;
  border-color: #B49FCC;
}

/**
 * Make those labels sexy
 */
label {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
  display: block;
  padding: 0.6rem 1rem 0.8rem 3rem;
  position: relative;
  background: #EAD7D7;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all .15s ease;
  /**
   * This is the radio fake dot basically
   */;
}

label:first-of-type {
  border: 0;
}

label:before {
  content: "";
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: .2rem solid #6D466B;
}

/**
 * How it should look when checked
 */
input:checked + label:before {
  background: #491D44;
}

/**
 * How it should look when disabled
 */
input:disabled + label {
  background: #6D466B;
  color: #12020D;
  cursor: not-allowed;
}

input:disabled + label:hover {
  border-color: rgba(0, 0, 0, 0.1);
}

input:disabled + label:before {
  border-color: #EAD7D7;
  background: #EAD7D7;
}