* {
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",
    Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

body{
    background-color: #EAD7D7;
}

.header{
    display: flex;
    float: none;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    height: 50px;
    font-size:larger;
    background-color: #491D44;
    color: #FFFF
}

.header-left{
    display: flex;
    float: left;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    width: 30%;
    height: 50px;
    font-size:larger;
    background-color: #491D44;
    color: #FFFF
}

.header-middle{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    float: left;
    width: 40%;
    height: 50px;
    font-size:larger;
    background-color: #491D44;
    color: #FFFF
}

.header-right{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    float: right;
    width: 30%;
    height: 50px;
    font-size:larger;
    background-color: #491D44;
    color: #FFFF
}

.underlined-Rtext{
    margin-top: 10px;
    text-decoration: underline #491D44 ;
}
.underlined-text{
    margin-top: 10px;
    text-decoration: underline #491D44 ;
    margin-left: 1%;
}

.content {
    margin: 5%;
}

.table_area {
    margin: 1%;
}

/* plot */
#function_plot {
    outline: 2px solid #12020D;
    float: left;
    margin: 3% 3% 3% 8%;
}


.send_button_area {
    text-align: center;
}

.picture_content_picture {
    text-align: center;
    height: 90%;
}

#picture {
    height: 100%;
    width: 70%;
}

/* table */
.table_area_table {
    width: 100%;
    font-size: large;
    height: 400px;
    overflow: scroll;
    display: block;
}

#res_table {
    background-color: #6D466B;
    color: #FFFFFF;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
}

.hidden{
    visibility: hidden;
}
